{% extends "@EBMGDP/bundleLayout.html.twig" %}

{# Titre de l'onglet #}
{% block title %}
    Gestion de projet
{% endblock %}

{# CSS propres à cette page #}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("bundles/coreiconbar/css/plugins/pages/profile.min.css") }}">
{% endblock %}


{# Contenu de la page #}

{% block content_body %}

    <div class="page-profile">
        <div class="page-content">
            <div class="panel">
                <div class="panel-head">
                    <h3 class="panel-title" style="display:inline-block;">Vue detail de la tâche: {{ task.name }}</h3>
                    <div style="display:inline-block;float: right;margin-right: 20px; margin-top: 20px;">
                        <a href="{{ path('ebmgdp_task_edit', {'code':task.project.code, 'id':task.id}) }}" class="panel-info btn btn-warning" >Editer la tâche</a>
                        <a href="{{ path('ebmgdp_task_archived', {'code':task.project.code, 'id':task.id}) }}" class="panel-info btn btn-danger" >Archiver la tâche</a>
                    </div>
                    </div>
                <div class="panel-body">
                    <div id="info_task">
                        <ul>
                            {% if task.deadline != null %}
                            <li>Deadline: {{ task.deadline|date('Y-m-d') }}</li>
                            {% else %}
                            <li>Deadline: Non renseigné</li>
                            {% endif %}
                            <li>Status: {{ task.status }}</li>
                            <li>Type: {{ task.type }}</li>
                            <li>Date Création: {{ task.creationDate|date('Y-m-d') }}</li>
                            {% if task.realisationDate != null %}
                            <li>Date réalisation prévue: {{ task.realisationDate|date('Y-m-d') }}</li>
                            {% else %}
                            <li>Date réalisation prévue: Non renseigné</li>
                            {% endif %}
                            {% if task.membersAssigned|length > 0 %}
                            <li>Assigné à :
                                {% for user in task.membersAssigned %}
                                    {{ user.username }}
                                    {% if not loop.last %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div id="body_task">
                        {{task.description }}
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-head">
                    <h3 class="panel-title" style="display:inline-block;">Document(s) liés à la tâche</h3>
                </div>
                <div class="panel-body">
                    {#<a href="" class="panel-info btn btn-primary" >Ajouter Document</a>#}
                    {{ include("EBMGDPBundle:Deliverable/component:upload.html.twig") }}

                    <div class="row">
                    </br>
                        {% if task.fileEntities is not null or task.fileEntities |length>0 %}
                            <h3>Liste des Documents</h3>
                            <ul>
                                {%  for tsk in task.fileEntities %}
                                    <li>
                                        <a href="{{ vich_uploader_asset(tsk, 'File') }}">{{ tsk.fileName }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="panel">
                <div class="panel-head">
                    <h3 class="panel-title" style="display:inline-block;vertical-align:baseline;padding-right:5px;">Messages</h3>
                        <span class="badge badge-danger">{{ task.conversation.comments|length }}</span>
                        <button class="site-action btn-raised btn btn-success btn-floating" data-target="#addCommentForm" data-toggle="modal" type="button" style="background-color:#4caf50;border-color:#4caf50;width:50px;height:50px;font-size:32px;">
                            <i class="icon md-edit" aria-hidden="true" style="margin-right:0;"></i>
                        </button>
                        <div class="modal fade" id="addCommentForm" aria-hidden="true" aria-labelledby="addCommentForm" role="dialog" tabindex="-1">
                            <div id="comment">
                            </div>
                        </div>
                </div>

                <div class="panel-body">
                    <ul class="list-group">
                        {%  if task.conversation.comments is not null %}
                            {% for comment in task.conversation.comments %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="avatar">
                                                <img class="img-responsive" src="{{ asset("bundles/coreiconbar/images/avatar5.png") }}"
                                                     alt="profile picture">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            {%  if comment.utilisateur is not null %}
                                                <h4 class="media-heading" style="display: inline-block;vertical-align: baseline;">{{ comment.utilisateur }}</h4>
                                            {%  else  %}
                                                <h4 class="media-heading" style="display: inline-block;vertical-align: baseline;">Utilisateur non trouvé</h4>
                                            {% endif %}
                                            <small>a posté le {{ comment.creationDate|date("d-m-Y à h:i") }}</small>
                                            <div class="btn-group" role="group" style="margin-left: 0.5em;">
                                                <button type="button" class="btn btn-icon btn-info waves-effect waves-light" data-target="#editCommentForm{{ comment.id }}" data-toggle="modal" style="padding:8px;padding: 8px;font-size: 14px; line-height: 0.5em;"><i class="icon md-edit" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-icon btn-info waves-effect waves-light" onclick="deleteComment({{ comment.id }})" style="padding:8px;padding: 8px;font-size: 14px; line-height: 0.5em;"><i class="icon md-delete" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="modal fade editCommentJS" id="editCommentForm{{ comment.id }}" title= "{{ comment.id }}" aria-hidden="true" aria-labelledby="editCommentForm{{ comment.id }}" role="dialog" tabindex="-1">
                                                <div id="comment{{ comment.id }}">
                                                </div>
                                            </div>
                                            <div class="profile-brief">{{ comment.content }}</div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        {%  endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# Scripts propres à cette page #}
{% block scripts %}
<script>

$("#addCommentForm").on('show.bs.modal',function (e) {
    var path = "{{ path('ebmgdp_task_comment_add',{'code':project.code,'id':task.id }) }}";

    $.ajax({
        url : path,
        type : 'GET',
        dataType : 'html',
        success : function(code_html, statut){
            $(code_html).appendTo("#comment");
        },

        error : function(resultat, statut, erreur){

        },

        complete : function(resultat, statut){

        }

    });
});

$(".editCommentJS").on('show.bs.modal',function (e) {
    var element= this;
    var path = "{{ path('ebmgdp_task',{'code':project.code,'id':task.id }) }}";
    path += "/comment/"+ element.title+"/edit";
    console.log(path);

    $.ajax({
        url : path,
        type : 'GET',
        dataType : 'html',
        success : function(code_html, statut){
            $(code_html).appendTo("#comment"+element.title);
        },
        error : function(resultat, statut, erreur){
        },
        complete : function(resultat, statut){
        }
    });
});

var deleteComment = function(commentId) {
    var path = "{{ path('ebmgdp_task',{'code':project.code,'id':task.id }) }}";
    path += "/comment/"+ commentId+"/delete";

    $.ajax({
        url : path,
        type : 'GET',
        dataType : 'json',
        success : function(response, statut){
            if (response.success) {
                location.reload();
            }
        },
        error : function(resultat, statut, erreur){
        },
        complete : function(resultat, statut){
        }
    });

};


</script>


{% endblock %}

