{% extends "EBMKMBundle::bundleLayout.html.twig" %}
{% block content_body %}
    <h1>Résultats</h1>

    {% if "posts" in indexs|keys %}
        <h2>Sur le forum</h2>
        {% for post in results['posts'] %}
            <div>
                <h3><a href="{{ path('ebmkm_forum_topic', {id: post.topic.id}) }}">{{ post.topic.title }}</a></h3>
                <div class="well"><strong>{{ post.author.username }}</strong> -- {{ post.date | date('d-M-Y H:i:s') }}<p>{{ post.content }}</p></div>
            </div>
        {% else %}
            Pas de résultat.
        {% endfor %}
    {% endif %}

    {% if "tags" in indexs|keys %}
        <h2>Dans les tags</h2>
        {% for tag in results['tags'] %}
            <a class="btn btn-primary" href="{{ path('ebmkm_search_tags', {tag_id: tag.id}) }}" title=" {{ tag.description }}">{{ tag.name }}</a>
        {% else %}
            Pas de résultat.
        {% endfor %}
    {% endif %}

    {% if "topics" in indexs|keys %}
        <h2>Dans les topics</h2>

        <table class="table">
            <tr>
                <th>Nom du topic</th>
                <th>Date de création</th>
                <th>Créateur</th>
                <th>Nombre de vues</th>
            </tr>
            {% for topic in results['topics'] %}
                <tr>
                    <td><a href="{{ path('ebmkm_forum_topic', { id: topic.id }) }}">{{ topic.title }}</a></td>
                    <td>{{ topic.date | date('d-M-Y H:i:s') }}</td>
                    <td>{{ topic.creator.username }}</td>
                    <td>{{ topic.nbViews }}</td>
                </tr>
            {% else %}
                Pas de résultat.
            {% endfor %}
        </table>
    {% endif %}

    {% if "ressources" in indexs|keys %}
        <h2>Dans les ressources</h2>
        <table class="table">
            <tr>
                <th>Nom du document</th>
                <th>Date de l'upload</th>
                <th>Créateur</th>
            </tr>
            {% for document in results['ressources'] %}
                <tr>
                    <td><a href="{{ path('ebmkm_document_detail', { id: document.id }) }}">{{ document.name }}</a></td>
                    <td>{{ document.date | date('d-M-Y H:i:s') }}</td>
                    <td>{{ document.history.author.username }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}