{% extends "EBMKMBundle::bundleLayout.html.twig" %}

{# Définition d'une variable si on regarde ses propres compétences ou non #}
{% set myPage = (app.user == user) %}

{% block content_body %}

    Compétences de l'utilisateur {{ user }}

    <ul>
        {% for skill in user.skills %}
        <li>{{ skill.tag.name }}<br/>
            Niveau : {{ skill.level }}<br/>
            Recommandé par :
            <ul>
                {% for reco in skill.recommendations %}
                    <li>{{ reco.name }}</li>
                {% endfor %}
            </ul>
            {% if myPage %}
                {# Si c'est ma page, je peux enlever la compétence #}
                <a href="{{ path('ebmkm_remove_skills', {'id': skill.id}) }}">X</a>
            {% else %}
                {% if skill.recommendations.contains(app.user) %}
                    {# Cas ou on a recommandé, on propose de l'enlever #}
                    <a href="{{ path('ebmkm_unrecommend_skills', {'user_id': user.id, 'skill_id':skill.id }) }}">Dérecommander</a>
                {% else %}
                    {# On propose de recommander sinon #}
                    <a href="{{ path('ebmkm_recommend_skills', {'user_id': user.id, 'skill_id':skill.id }) }}">Recommander</a>
                {% endif %}
            {% endif %}

            {% endfor %}
        </li>
    </ul>
    {% if myPage %}
        <a href="{{ path('ebmkm_add_skills') }}">Ajouter</a>
    {% endif %}
{% endblock %}



