{% extends "@FOSUser/fosUserLayout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="brand">
      <h2 class="brand-text font-size-18">Se connecter</h2>
    </div>
    <br>
    <form action="{{ path("fos_user_security_check") }}" method="POST" autocomplete="off">

      <div class="form-group form-material floating">
          <input type="text" class="form-control"  data-autocorrect="off" data-autocapitalize="off" spellcheck="false" id="username" name="_username" required autofocus value="{{ last_username }}" >
          <label class="floating-label">{{ 'resetting.request.username'|trans }}</label>
      </div>


      <div class="form-group form-material floating">
          <input type="password" class="form-control" id="password" name="_password" required >
          <label class="floating-label">{{ 'security.login.password'|trans }}</label>
      </div>

      <div class="form-group clearfix"> 
        <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-left">
          <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked>
          <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
      </div>

      <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-lg margin-top-40">{{ 'security.login.submit'|trans }}</button>

      <a href="{{ path('fos_user_resetting_request') }}"><small>Mot de passe oublié ? </small></a>

    </form>
    
{% endblock fos_user_content %}
