{% extends "@EBMMateriel/bundleLayout.html.twig" %}

{# Titre de l'onglet #}
{% block title %}
    Ajout de machine
{% endblock %}

{# CSS propres à cette page #}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("bundles/coreiconbar/theme/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css") }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content_body %}

    <form method="post" action="">
        <div class="col-md-6">
            <h1 class="page-title">Ajout d'une nouvelle machine</h1>

            {#<h4 class="example-title">Type machine</h4>#}
            {#<div class="form-group">#}
                {#<select class="form-control" name="type">#}
                    {#<option>Type 1</option>#}
                    {#<option>Type 2</option>#}
                {#</select>#}
            {#</div>#}

            {#<h4 class="example-title">Nom machine</h4>#}
            {#<input type="text" class="form-control" name="nom">#}

            {#<h4 class="example-title">Compétences associées</h4>#}
            {#<select class="form-control" multiple data-plugin="select2" name="comp[]">#}
                {#{% for t in tags %}#}
                    {#<option value="{{ t.id }}">{{ t.name }}</option>#}
                {#{% endfor %}#}
            {#</select>#}

            {#<h4 class="example-title">Description</h4>#}
            {#<textarea class="form-control" id="textareaDefault" rows="3" name="desc"></textarea>#}

            {#<button type="button" class="btn btn-block btn-success margin-top-20 col-lg-2">Valider</button>#}
        {{ form(form) }}
        </div>
    </form>
{% endblock %}


{# Scripts propres à cette page #}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ asset("bundles/coreiconbar/theme/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js") }}"></script>
    <script src="{{ asset('bundles/coreiconbar/theme/global/js/components/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript">
        $('select').select2();
    </script>
{% endblock %}