{% extends "EBMKMBundle::bundleLayout.html.twig" %}
{% block content_body %}
    <table class="table">
        <tr>
            <th>Nom du topic</th>
            <th>Date de création</th>
            <th>Créateur</th>
            <th>Nombre de vues</th>
        </tr>
        {% for topic in topics %}
            <tr>
                <td><a href="{{ path('ebmkm_forum_topic', { id: topic.id }) }}">{{ topic.title }}</a></td>
                <td>{{ topic.date | date('d-M-Y H:i:s') }}</td>
                <td>{{ topic.creator.username }}</td>
                <td>{{ topic.nbViews }}</td>
            </tr>
        {% endfor %}
    </table>

    <span class="input-group-btn">
        <a type="button" class="btn btn-primary waves-effect waves-light" href="{{ path('ebmkm_forum_create_topic') }}">
           Nouveau
        </a>
    </span>
{% endblock %}

