{% extends "EBMKMBundle::bundleLayout.html.twig" %}


{% block content_body %}
    
   {# <a type="button" href="{{ path('ebmkm_forum_homepage') }}" class="btn btn-sm btn-primary ladda-button" data-style="slide-left" data-plugin="laddaProgress">
        <span class="ladda-label"><i class="icon md-long-arrow-left margin-right-10" aria-hidden="true"></i>Retour au forum</span>
        <span class="ladda-spinner"></span></a>

    <div class ="page-header ">
        <div class="row">
            <div class="col-md-2 ">
                <div> <button type="button" href="{{ path('ebmkm_forum_upvote', {'user_id': user.id, 'post_id': post.id}) }}" class="btn btn-floating btn-info btn-xs waves-effect waves-float waves-light"> <i class="fa fa-plus fa-1" aria-hidden="true">  </i> </button> </div>
                <div> COMPTEUR </div>
                <div> <button type="button" class="btn btn-floating btn-info btn-xs waves-effect waves-float waves-light"> <i class="fa fa-minus fa-1" aria-hidden="true">  </i> </button> </div>
            </div>
            <div class="col-md-6">
                <h1 class ="page-title vertical-align-middle">
                    {{ topic.title }}
                </h1>
            </div>
        </div>
    </div>

    {% for post in topic.posts %}
        <div class="well">
            <div class="row">
                <div class="col-md-2 ">
                    <div> <button type="button" class="btn btn-floating btn-info btn-xs waves-effect waves-float waves-light"> <i class="fa fa-plus" aria-hidden="true">  </i> </button>  </div>
                    <div> </div>
                    <div> <button type="button" class="btn btn-floating btn-info btn-xs waves-effect waves-float waves-light"> <i class="fa fa-minus" aria-hidden="true">  </i> </button> </div>
                </div>
                <strong>{{ post.author.username }}</strong>
                --{{ post.date | date('d-M-Y H:i:s') }}
                <p>{{ post.content }}</p>
            </div>
        </div>


    {% endfor %}
    <span class="input-group-btn">
        <a type="button" class="btn btn-primary waves-effect waves-light" href="{{ path('ebmkm_forum_answer_topic', {'id': topic.id}) }}">
           Répondre
        </a>
    </span>
#}
{% endblock %}