<div class="panel" id="projects">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{{ path('ebmgdp_insight_documenttypeproject_list') }}" class="blue-a400"><i class="icon md-arrow-left"></i></a>
            Livrables de type :  {{ documentTypeProject.name }}</h3>
    </div>
    {% if listDocumentProjects|default({})|length > 0 %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Nom</td>
                    <td>Date de modification</td>
                    <td>Nombre de livrables existants</td>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                {% for documentProject in listDocumentProjects %}
                    <tr>
                        <td>{{ documentProject.id }}</td>
                        <td>{{ documentProject.projects[0].name }}</td>
                        <td>{{ documentProject.name|upper }}</td>
                        <td>{{ documentProject.modificationDate|date('Y-m-d') }}
                        </td>
                        <td>
                            {{ documentProject.status }}
                        </td>
                        <td>
                            <ul>
                                {% for file in documentProject.fileEntities %}
                                    <li> {{ file.fileName }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <!-- on a mis ManyToMany mais en fait il y a qu'un projet -->
                            <a href="{{ path('ebmgdp_deliverable', {'code':documentProject.projects[0].code,'id':documentProject.id}) }} }}"><i class="icon md-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="panel-body">
            <p class="text-center">Aucun livrable n'a encore été rendu pour le moment.</p>
        </div>
    {% endif %}

</div>